/*header for alle tre sider*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f8f8; 
}

nav {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

header img {
    width: 35px;
    height: 35px;
    padding: 0.5rem;
    object-fit: cover;
}

nav ul img {
    width: 60px;
    height: 60px;
    position: relative;
    top: -15px;
    padding: 0;
}

#flyt-icon {
    margin-left: 1rem;
    position: relative;
    top: -30px;
}

/*footer for alle tre*/
#flyt-icon img:nth-of-type(2) {
    width: 40px;
    height: 40px;
}

label[for="search"] {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    border: 0; 
}

form input {
    padding: 0.5rem;
    margin-right: 1rem;
}

/* for index.html*/
main {
    padding: 2rem;
}


main section:first-of-type > h1,
main section:first-of-type > p {
    display: flex;
    flex-basis: 100%; 
    margin: 0 auto 1rem; 
    justify-content: center;
}

main .knapp {
    display: flex; 
    justify-content: center; 
    gap: 1rem; 
}

main section:first-of-type > div > button {
    padding: 0.5rem 1rem; 
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem; 
    margin: 0; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

main section:first-of-type > div > button:hover {
    background-color: #a3c4e6;
    color: white;
}


main section:first-of-type a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0.5rem 0rem;
    margin-top: 1rem;
    font-weight: bold;
}


main .anmeldelser-kort {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;  
}

main .kategori-kort {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    margin-top: 3rem;
    padding: 2rem; 
    justify-items: center; 
    align-items: center;  
    width: 100%;  
}

main .kategori-kort > article {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 1rem;
    border-radius: 25px;
}

main .kategori-kort img {
    height: 350px;
    width: 350px;
    border: 1px solid #424242;
    border-radius: 25px;
    object-fit: cover; 
}

main .populare-kort {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 0.5rem; 
    margin-top: 2rem;
}

main .populare-kort > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 11rem;
    border-radius: 7px;
    background-size: cover; 
    background-position: center;
}

main .populare-kort .kort-1,
main .populare-kort .kort-2,
main .populare-kort .kort-3 {
    max-width: 300px;
    grid-column: span 1; 
    background-size: cover;
    background-position: center;
}

main .populare-kort .kort-4 {
    max-width: 864px;
    grid-column: span 2; 
    grid-row: span 1; 
    background-size: cover;
    background-position: center;
    background-image: url('../Bilder/cover.jpg'); /*bilde hentet fra https://codetheweb.blog/css-advanced-background-images/*/
}

main .populare-kort .kort-5 {
    max-width: 300px;
    grid-column: 3; 
    grid-row: 2; 
    background-size: cover;
    background-position: center;
    background-image: url('../Bilder/cover.jpg');
}

main .populare-kort .kort-2, 
main .populare-kort .kort-3 {
    background-image: url('../Bilder/cover.jpg'); 
}

main .populare-kort .kort-1 {
    background-image: url('../Bilder/cover.jpg'); 
}

.anmeldelser-kort img {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.anmeldelser-kort article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

main a {
    color: black;
    text-decoration: none;
}

/*css footer for alle tre sider*/
#footer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    background-color: #f8f8f8;
    justify-content: space-between;
    flex-wrap: wrap;  
}

#footer section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 150px;  
}

#footer section:nth-child(3) {
    align-items: center;  
}

#footer section:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}

#footer h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer img {
    width: 50px;
    height: auto;
}

/* Media queries for index.html */
@media (max-width: 768px) {
    header {
        flex-direction: column;  
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;  
        gap: 0.5rem;
        align-items: center; 
    }

    #flyt-icon {
        position: relative;
        top: 0;
        margin-left: 0;
    }

    #flyt-icon img {
        width: 30px;
        height: 30px;
    }

    #footer {
        padding: 1rem;  
        gap: 1rem;  
    }

    #footer section {
        min-width: 100%;  
        align-items: center; 
    }

    #footer section:nth-child(3) ul {
        gap: 1rem;  
    }

    #footer h4 {
        font-size: 1rem;  
    }

    #footer img {
        width: 40px;  
    }

    main .populare-kort {
        grid-template-columns: 1fr;  
        padding: 1rem;
    }

    main .populare-kort > article {
        max-width: 100%;  
        grid-column: span 1; 
        padding: 0.5rem;  
    }

    main .populare-kort img {
        width: 100%;      
        height: auto;     
    }

    main .kategori-kort {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    main .kategori-kort {
        grid-template-columns: 1fr; 
        gap: 1rem; 
    }

    main .kategori-kort img {
        height: 250px; 
        width: 250px;
    }

    main .kategori-kort > article {
        padding: 0.5rem; 
    }
}

/*for kasse.html css*/
main .shoppingbag {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main .shoppingbag h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

main .shoppingbag article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

main .shoppingbag article img {
    width: 100%;
    max-width: 500px;  
    height: auto;     
    margin-bottom: 10px;
}

main .shoppingbag article select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/*opplysninger css*/
main .opplysninger {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

main .opplysninger form label,
main .opplysninger form input {
    display: block;
    width: 70%;
    margin-bottom: 15px;
    font-size: 1em;
    padding: 10px;
}

main .opplysninger form button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #6a6b6b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*levering css*/
main .levering {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

main .levering form input[type="radio"],
main .levering form label {
    display: block; 
    margin-top: 5px; 
}

main .levering form label {
    position: relative;
    left: 35px;
    top: -12px;
}

main .levering form label {
    margin-left: 10px;
    font-size: 1em;
}

main .levering form input {
    position: relative;
    bottom: -10px;
}

main .levering button {
    display: block;
    width: 100%; 
    padding: 15px;
    background-color: #6a6b6b;
    color: white;
    font-weight: bold; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px; 
}

main .levering img {
    width: 30px; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 10px; 
}

main .levering p {
    display: inline-block; 
    vertical-align: middle; 
    margin: 0; 
}

/*Betaling css*/
main .Betaling section {
    border: 1px solid #ccc; 
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 5px; 
}

main .Betaling form #kortnummer {
    display: block;
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; 
}

main .Betaling form {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

main .Betaling form #utlopsdato,
main .Betaling form #cvc {
    width: 35%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; 
}

main .Betaling form button {
    display: block;
    width: 100%; 
    padding: 15px;
    background-color: #6a6b6b;
    color: white;
    font-weight: bold; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px; 
}

main .Betaling form p {
    text-align: center; 
    font-size: 14px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}

main .Betaling form label {
    margin-left: 5px; 
    vertical-align: middle;
}

main .Betaling form input[type="checkbox"] {
    margin-right: 10px; 
    vertical-align: middle;
    margin-top: 5px;
}

main .Betaling form .totalpris {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center;
    margin-top: 15px;
}

/*for product.html*/
.produktnavn {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.hovedbilde img {
    width: 100%;
    max-width: 700px;
    object-fit: cover;
    margin: auto;
}

.side-bilde {
    width: 100%;
    max-width: 160px;
    height: auto;
    object-fit: cover;
    margin: 5px;
    display: inline-block;
}

.produktnavn section {
    max-width: 700px;
    margin: auto;
}

.lig-produkt {
    padding: 20px;
}

.lig-produkt section {
    max-width: 1200px;
    margin: auto;
}

.lig-produkt h2 {
    margin-bottom: 20px;
}

.lig-produkt aside {
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    vertical-align: top;
}

.lig-produkt aside img {
    width: 100%;
    height: auto;
}

.lig-produkt aside h3 {
    font-size: 18px;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .produktnavn {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .hovedbilde, .side-bilde-container {
        grid-column: 1 / 2;
    }

    .hovedbilde {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-bilde-container {
        display: flex;
        justify-content: space-around;
    }
}